::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #080807;
}
::-webkit-scrollbar-thumb {
  background: #c5b05d;
}
::-webkit-scrollbar-thumb:hover {
  background: #403a20;
}
