@import 'libs/bootstrap-reboot.min';
@import 'libs/icons';

@import 'base/variables';

@import 'blocks/media';
@import 'blocks/menu';
@import 'blocks/header';
@import 'blocks/aboutMe';


:root {
    --index: calc(1vh + 1vw);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
    font-weight: 500;
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body {
    background-color: #040504;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
    color: $text-color;
}



